 
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
<script src="../index.js"></script>
</head>

<body>
    <header>
        <a href="./index.html"><img src="../assets/images/gems.png"></a>  
        <nav>
            <a href="./login.html" id="ingreso">Ingresar</a>
            <a href="./juego.html">Jugar</a>
            <div class="dropdown">
                <button class="dropbtn">Sobre el juego
                </button>
                <div class="dropdown-content">
                    <a href="./personajes.html">Personajes</a>
                    <a href="./reglas.html">Reglas</a>
                    <a href="./sobre_nosotros.html">Sobre nosotros</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="bg-img-1">
        <img src="../assets/images/bannerbg.png" alt="banner-bg">
        <div class="banner">
            <img src="../assets/images/logo-1.png">
            <h4>¿Estás listo para una nueva aventura?</h4>
            <button class="btn" onclick="window.location.replace('./juego.html')">Jugar</button>    
        </div>
    </div>    
    
    <div class="about-home">
        <h2>Un universo lleno de posibilidades</h2>
        
        <p>Forma un equipo de 3 personajes, 
            participa en una partida de 2 a 4 jugadores, 
            elige sabiamente tus movimientos, 
        lucha contra las amenazas del camino, 
        recolecta objetos que te ayudarán en tu travesía,
        adquiere experiencia y habilidades especiales. </p>
        <h3>¡Y todo en una sola partida!</h3>
        <img src="../assets/images/todos.png">

        
    </div>
    </div>
    <div class="bg-img">
        <img src="../assets/images/banner.png" alt="banner-bg">
        <div class="rules-home">
            <h2>Llegó el momento</h1>
            <p>Es tiempo de emprender la busqueda de las poderosas gemas galacticas. 
                Explora planetas desconocidos, enfrenta a peligrosos adversores y conquista 
                uno de los mayores poderes del universo. </p>
        </div>
    </div>

    <!--Imágenes fondo banner de www.freevector.com-->
    <!-- Personajes de pzUH en https://www.shutterstock.com/es/g/pzuh-->

    <footer>
        Septiembre 2020 - Runtime terror
    </footer>
</body>
</html>