 
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../assets/styles/personajes.css">
<script src="../select.js"></script>
</head>

<body>
    <header>
        <a href="./index.html"><img src="../assets/images/gems.png"></a>  
        <nav>
            <a href="./login.html" id="ingreso">Ingresar</a>
            <a href="./juego.html">Jugar</a>
            <div class="dropdown">
                <button class="dropbtn">Sobre el juego
                </button>
                <div class="dropdown-content">
                    <a href="./personajes.html">Personajes</a>
                    <a href="./reglas.html">Reglas</a>
                    <a href="./sobre_nosotros.html">Sobre nosotros</a>
                </div>
            </div>
        </nav>
    </header>

    <h1></h1>

    <div class="parent">
        <div class="div17">
            <img src="../assets/images/los-personajes.png">
            
        </div>
        <div class="div1"> 
            <img src="../assets/images/Personajes/Duncan.png">
            <button type="button" id="addDuncan">Seleccionar</button>
        </div>
        <div class="div2"> 
            <p>Él es Duncan. A través de un portal viajó al futuro desde el año 2020, eso explica la máscara de gas que no ha dejado usar desde entonces. 
                Aficionado al fuego, para no decir otras palabras, lleva un lanzallamas que encinerará al que se le cruce por delante.</p>
        </div>

        <div class="div3"> 
            <img src="../assets/images/Personajes/Beef.png">
            <button type="button" id="addBeef">Seleccionar</button>
        </div>
        <div class="div4"> 
            <p>Él es Beef, es un cyborg mitad alien con capacidades sobrehumanas (claramente si no es humano).
                Puede ver a traves de las paredes y su pistola tiras rayos láser. </p>
        </div>
        <div class="div5">
            <img src="../assets/images/Personajes/Kike.png">
            <button type="button" id="addKike">Seleccionar</button>
        </div>
        <div class="div6"> 
            <p>Él es Kike, milita en la defensa del planeta Tatooine sus únicas armas son sus brazos capaces de destruir la roca más dura.</p>
        </div>
        <div class="div7"> 
            <img src="../assets/images/Personajes/Ranger.png">
            <button type="button" id="addRanger">Seleccionar</button>
        </div>
        <div class="div8"> 
            <p>Él es Ranger, tiene un sable en su mano derecha que se calienta y puede llegar a derretir el metal mas duro.</p>
        </div>
        <div class="div9"> 
            <img src="../assets/images/Personajes/Steve.png">
            <button type="button" id="addSteve">Seleccionar</button>
        </div>
        <div class="div10"> 
            <p>Él es Steve, es un simple humano pero con una destreza nunca antes vista, con su pistola dispara bombas de gas que puede derretir cualquier material.</p>
        </div>
        <div class="div11"> 
            <img src="../assets/images/Personajes/Tony.png">
            <button type="button" id="addTony">Seleccionar</button>
        </div>
        <div class="div12"> 
            <p>Él es Tony, es un robot creado por la nueva orden y tiene una metralleta que dispara balas.</p>
       </div>
        <div class="div13"> 
            <img src="../assets/images/Personajes/Vader.png">
            <button type="button" id="addVader">Seleccionar</button>
        </div>
        <div class="div14"> 
            <p>Él es Vader, un militar ruso de los más peligrosos debido a que pertenecia a los Sptesnaz.</p>
        </div>
        <div class="div15">
            <img src="../assets/images/Personajes/Meep.png">
            <button type="button" id="addMeep">Seleccionar</button>
        </div>
        <div class="div16"> 
            <p>Él es Meep, el unico personaje sin un exoesqueleto ni arma. Meep es un alien con poderes psíquicos que puede destruir a cualquiera con su mente.</p>
         </div>
    </div>
    <button type="button" id="confirmar">Confirmar</button>
</body>
</html>