 
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../assets/styles/reglas.css">
</head>

<body>
    <header>
        <a href="./index.html"><img src="../assets/images/gems.png"></a>  
        <nav>
            <a href="./login.html">Ingresar</a>
            <a href="./juego.html">Jugar</a>
            <div class="dropdown">
                <button class="dropbtn">Sobre el juego
                </button>
                <div class="dropdown-content">
                    <a href="./personajes.html">Personajes</a>
                    <a href="./reglas.html">Reglas</a>
                    <a href="./sobre_nosotros.html">Sobre nosotros</a>
                </div>
            </div>
        </nav>
    </header>


    <div class="page">

        <div class="divA">
            <div class="parentA">
                <div class="div01"><img src="../assets/images/la-historia.png"> </div>
                <div class="div12"> <img src="../assets/images/mapa.png">Los jugadores tienen que descubrir el territorio comun e ir coleccionando recursos a
                    medida que van avanzando, sean estos renovables, no renovables o gemas.</div>
                <div class="div13">  <img src="../assets/images/mapa.png">Gemas aparecen en el mapa aleatoriamente, son el recurso principal del juego, los
                    jugadores tienen que recolectar una cantidad específica para poder ganar la partida.</div>
                <div class="div14"> <img src="../assets/images/mapa.png"> Los recursos renovables, los no renovables y las amenazas que deben sortear los jugadores
                    aparecen de manera aleatoria en cualquier casilla del mapa.</div>
                <div class="div15"> <img src="../assets/images/mapa.png">En el mapa existen monstruos "jefes", estos son el mayor obstaculo para ganar el juego 
                    ya que la mayoria de las gemas van a aperecer cuando uno los derrota. </div>
                <div class="div16"> <img src="../assets/images/mapa.png">En el mapa existen misiones y rompecabezas que completar, al completar estas, los equipos recibiran 
                    recompensas unicas y exclusivas, ya sean runas o gemas. </div>
                <div class="div17">  <img src="../assets/images/mapa.png">En el mapa existen recursos que se extinguen, estos son runas, objetos con habilidades
                    especiales para potenciar al equipo del jugador que recogio la runa, por ejemplo: si el
                    equipo es herido en lugar de volver a la casilla "zona cero", el equipo del jugador se
                    recupera en la casilla donde esta ubicado.</div>
                <div class="div18"> <img src="../assets/images/mapa.png">Los recursos renovables del juego son materiales que el equipo del jugador puede utilizar
                    para construir todo tipo de necesidades (pociones, armadura, armas, trampas, etc...),
                    las cuales mejoran su nivel conforme al nivel del material usado. </div>
                <div class="div19">  <img src="../assets/images/mapa.png">En el mapa existen amenazas que los jugadores deberan enfrentar, estas amenazas sirven para darle 
                    experiencia al equipo y asi poder subir de nivel, mas aun, monstruos de mayor nivel tienen probabilidad de soltar runas.</div>
                <div class="div20"> Existen distintos tipos de personajes que forman los equipos, estos personajes son seres
                    excepcionales de distintas razas con habilidades sobrenaturales. Los personajes tienen
                    atributos específicos y únicos a cada uno, esto los distingue unos de otros, pero estos
                    atributos pueden mejorar cuando suben de nivel al derrotar cumplir objetivos dentro
                    de la partida (derrotar amenazas o equipos adversarios, cumplir misiones, resolver
                    rompecabezas). Cada personaje tiene una habilidad heróica que se desbloquea en un
                    nivel específico (el mismo para todos los personajes), este tipo de habilidades pueden
                    cambiar situaciones y entornos en los que se encuentra el equipo y por esto, este tipo de
                    habilidades no se pueden usar muy frecuentemente, solo deberian ser utilizadas cuando
                    sea necesario.</div>
                </div>
        </div>

        <div class="divB">
            <div class="parentB">
                <div class="div1"><img src="../assets/images/las-reglas.png"></div>
                <div class="div2"><img src="../assets/images/num/1.png"> Para definir el orden de los turnos se lanzarán dos dados, el que obtenga el resultado
                    más alto comienza la partida. Si dos jugadores obtienen el mismo resultado se lanzan
                    los dados hasta el desempate. </div>
                <div class="div3"> En el mapa existen misiones y rompecabezas que completar, al completar estas, los
                    equipos recibiran recompensas unicas y exclusivas, ya sean runas o gemas.<img src="../assets/images/num/2.png">5 gemas para ganar el juego. </div>
                <div class="div4"> En el mapa existen monstruos "jefes", estos son el mayor obstaculo para ganar el juego
                    ya que la mayoria de las gemas van a aperecer cuando uno los derrota.<img src="../assets/images/num/3.png">Por cada jugador nuevo se agregan 3 gemas al mapa. </div>
                <div class="div5"> <img src="../assets/images/num/4.png">Cada equipo aparece en su ubicacion inicial, la "zona cero"de su jugador.</div>
                <div class="div6"> <img src="../assets/images/num/5.png">8 Personajes elegibles, cada uno con su especialidad, beneficios, desventajas y ataques. </div>
                <div class="div7"><img src="../assets/images/num/6.png">Equipos de maximo 3 personajes por jugador.</div>
                <div class="div8"> <img src="../assets/images/num/7.png"> Si dos equipos se enfrentan, el equipo perdedor soltara un cuarto del equipamiento que
                    posee, si esta en posesión de gemas el equipo soltara una gema en ves del cuarto de
                    equipamiento.</div>
                <div class="div9"> <img src="../assets/images/num/8.png">Si todas las gemas del mapa son recogidas pero no hay ningun equipo con 5 gemas,
                    empieza un contador donde los jugadores deberan guiar a sus equipos a pelear con los
                    equipos de otros jugadores para obtener sus gemas.</div>
                <div class="div10"> <img src="../assets/images/num/9.png">Si luego de que el contador acaba aun no hay ganador, se entra en modo de muerte
                    subita, un modo donde el mapa se achica y se fuerza a que peleen los equipos con
                    cantidad de gemas iguales, en este modo si un equipo es herido no vuelve a su casilla
                    "zona cero", el ultimo equipo en pie sera el ganador de la partida. </div>
                <div class="div11"> <img src="../assets/images/num/10.png"> Los Personajes consumen energia cada vez que realizan una actividad, ya sea moverse,
                    pelear o usar un poder de personaje. La energia puede ser recuperada esperando al
                    siguiente turno o usando pociones. Las habilidades heroicas de cada personaje no
                    consumen energia pero solo se pueden usar una vez cada cierta cantidad de turnos.</div>
            </div>
        </div>

        <divC>
           <!--reglas de enfrentamiento-->
        </divC>
 
    </div>

</body>
</html>