 
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../assets/styles/sobre_nosotros.css">
</head>

<body>
    <header>  
        <a href="./index.html"><img src="../assets/images/gems.png"></a>  
        <nav>
            <a href="./login.html">Ingresar</a>
            <a href="./juego.html">Jugar</a>
            <div class="dropdown">
                <button class="dropbtn">Sobre el juego
                </button>
                <div class="dropdown-content">
                    <a href="personajes.html">Personajes</a>
                    <a href="reglas.html">Reglas</a>
                    <a href="sobre_nosotros.html">Sobre nosotros</a>
                </div>
            </div>
        </nav>
    </header>

    <h1></h1>

    <div class="parent">
        <div class="div1"> <img src="../assets/images/nuestro-equipo.png"> </div>
        <div class="div2"><img src="../assets/images/gao.png"> </div>
        <div class="div3">Rodrigo Gaona</div>
        <div class="div4"> 
            Hola soy el Gao tengo 20 años estoy haciendo el major de Computacion y el minor de Innovación, apasionado por las Startups y Blockchain,
            me fascina leer y jugar lol, mi comida favorita es el sushi. 
            Me gusta el color azul.
        </div>
        <div class="div5"><img src="../assets/images/ro.png"> </div>
        <div class="div6"> Rosario Rodríguez</div>
        <div class="div7"> 
            Hola, me llamo Rosario tengo 23 años y mi signo zodiacal es geminis. 
            Soy estudiante de ing civil industrial ti y certificado académico en comunicación medial. 
            En esta entrega me encargué de la landing page y de los recursos gráficos del sitio.
            Cuando no estoy programando me gusta comer pizza mientras veo mi serie favorita: Friends.
        </div>
        <div class="div8"> <img src="../assets/images/nacho.png"></div>
        <div class="div9"> Ignacio Larraguibel</div>
        <div class="div10"> 
            Hola! soy el nacho, tengo 21 años, me gusta comer, dormir, escalar y a veces programar. 
            Me encargué del login y un par de páginas más. Me gusta el color negro y tengo 2 gatos y 1 perro. 
            Ahora pueden adivinar mi clave de Facebook. No lo intenten... Estoy haciendo el major de computación 
            y el minor de industrial, college -sad momo-.
        </div>
    </div> 

    <h3></h3>
    <p>
    <h3></h3>
    <p></p><br>
    <h3></h3>
    <p></p> 

</body>
</html>